@model GSM.Service.ViewModel.vwPlan

@{
    ViewData["Title"] = "Update";
     Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>User Report</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Plan" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Subcription Plans</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section contact">
    <div class="col-xl-12">
        <div class="card p-4">
            <form asp-action="Update">
                <input type="hidden" asp-for="Id" />
                <div class="row gy-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-4">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                         <br />
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <div class="col-md-4">
                           <input type="submit" value="Update" class="btn btn-primary" />  &nbsp;
                           <a asp-area="" asp-controller="Plan" asp-action="Index" class="btn btn-primary">Back To List</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    }

