@model GSM.Service.ViewModel.vwUserInfo

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  asp-area="Member" asp-controller="Home" asp-action="Index" >Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-md-12">
            <div class="row">
              
                <div class="col">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Traniner Name</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-person"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>
                                        @Html.DisplayFor(model => model.TrainnerName)
                                    </h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="card info-card  revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Subscription Date</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-calendar-plus"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Html.DisplayFor(model=> model.CreatedDate)</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
              @*  <div class="col">
                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Subscription End</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-calendar-x"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Html.DisplayFor(model=> model.CreatedDate.AddMonths(model.PlanId))</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

            </div>
        </div><!-- End Left side columns -->
    </div>
</section>

